@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WarehouseOrdersApp!</h1>
    <br>
    <p>Here you can update your stock and order records.</p>
</div>

